<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            {{companyName}}
        </h2>
        <span class="govuk-tag">
            {{lang.account_owner}}
        </span>
    </div>
    <div class="govuk-summary-card__content">
        <p class="govuk-body">
            {{lang.auth_agent_status}}
            <strong>{{agentStatus}}</strong>
        </p>
        <p class="govuk-body">
            {{lang.auth_agent_number}}
            <strong>{{agentNumber}}</strong>
        </p>

    </div>
</div>