<div class="govuk-grid-column-one-third govuk-topic-block">
    <h3 class="govuk-heading-s">
        {{ lang.changing_someones_identity_verification_details }}
    </h3>

    <p class="govuk-body">
        {{lang.you_can_change_the_details_for_a_person}}
    </p>
    <ul class="govuk-body govuk-list govuk-list--bullet">
        <li>{{ lang.you_entered_their_details_incorrectly }}</li>
        <li>{{ lang.they_have_changed_their_name_or_email_address }}</li>
    </ul>
    <p class="govuk-body">
        {{lang.use_the_form_to}}
        <a href="{{ changeIdentityVerificationDetailsUrl }}" class="govuk-link" target="_blank">{{ lang.change_identity_verificataion_details }}</a>.
    </p>
</div>