{% if agentStatus === AcspStatus.ACTIVE or agentStatus === AcspStatus.SUSPENDED %}
    <div class="govuk-grid-column-one-third govuk-topic-block">
        <h3 class="govuk-heading-s">
            {{lang.tell_us_if_you_need_to_close}}
        </h3>
        <div>
            <p class="govuk-body">
                {{lang.if_you_close_this_account}}{{companyName}}{{lang.will_no_longer_be_registered}}
            </p>
            <a class="govuk-link govuk-link--no-visited-state" 
             href="{{closeAuthorisedAgentAccountLink}}"
            >
           {{lang.close_the_authorised_agent_account}}
            </a>
        </div>
    </div>
{% endif %}