{% if agentStatus === AcspStatus.ACTIVE %}
    <div class="govuk-grid-column-one-third govuk-topic-block">
        <h2 class="govuk-heading-s">
            {{lang.close_the_authorised_agent}}
            <strong class="govuk-tag govuk-tag--blue govuk-!-margin-top-2">
                {{lang.coming_soon}}
            </strong>
        </h2>
        <div>
            <p class="govuk-body">
                {{lang.tell_us_if}}{{companyName}}{{lang.is_no_longer_an_authorised_agent}}
            </p>
        </div>
    </div>
{% endif %}