<div class="govuk-grid-column-one-third govuk-topic-block">
    <h3 class="govuk-heading-s">
        {{ lang.correcting_someones_identity_verification_details }}
    </h3>

    <p class="govuk-body">
        {{lang.you_can_correct_the_details_for_a_person}}
    </p>
    <p class="govuk-body">
        {{lang.use_the_form_to}}
        <a href="{{ correctIdentityVerificationDetailsUrl }}" class="govuk-link">{{ lang.correct_identity_verification_details }}</a>.
    </p>
</div>