<div class="govuk-grid-column-one-third govuk-topic-block">

    <h2 class="govuk-heading-s">
        {# no link to file as an authorised agent when ACSP is suspended #}
        {% if agentStatus === AcspStatus.SUSPENDED %}
            {{lang.file_as_an_authorised_agent}}
            <strong class="govuk-tag govuk-tag--red govuk-!-margin-top-2">
                {{lang.not_available}}
            </strong>
        {% else %}
            {{lang.file_as_an_authorised_agent}}
            <strong class="govuk-tag govuk-tag--blue govuk-!-margin-top-2">
                {{lang.coming_soon}}
            </strong>
        {% endif %}
    </h2>

    <p class="govuk-body">
        {{lang.in_the_future}}{{companyName}}.
    </p>
</div>