<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            {{lang.file_as_an_authorised_agent}}
            <strong class="govuk-tag govuk-tag--blue">
                {{lang.coming_soon}}
            </strong>
        </h2>
    </div>
    <div class="govuk-summary-card__content">
        <p class="govuk-body">
            {{lang.in_the_future_youll_be}}{{companyName}}.
        </p>
        <div class="govuk-inset-text">
            <p class="govuk-body">
                {{lang.authorised_agent_number}}
                <strong>{{agentNumber}}</strong>
            </p>
            <p class="govuk-body">
                {{lang.you_will_need_to_use}}
            </p>
        </div>
    </div>
</div>