<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            <a class="govuk-link govuk-link--no-underline govuk-link--no-visited-state" href="{{managePeopleLink}}">
                {{lang.manage_users}}
            </a>
        </h2>
    </div>
    <div class="govuk-summary-card__content">
        <p class="govuk-body">
            {{lang.users_who_have_been_added}}
            {{companyName}}.
        </p>
        <p class="govuk-body">
            {{lang.you_can}}
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>{{lang.view_users_who_have_been_added}}</li>
            <li>{{lang.add_users_if_they_need_to_use_services_for}}
                {{companyName}}</li>
            <li>{{lang.remove_users}}</li>
        </ul>
    </div>
</div>