<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            {{lang.manage_users}}
        </h2>
    </div>
    <div class="govuk-summary-card__content">
        <p class="govuk-body">
            {{lang.view_users_who}}{{companyName}}.
            {{lang.you_can}}
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>{{ lang.bullet_1 }}</li>
            <li>{{ lang.bullet_2 }}</li>
        </ul>
        <p class="govuk-body">
            <a href="{{managePeopleLink}}" class="govuk-link govuk-link--no-visited-state">
                {{lang.manage_users}}
            </a>
        </p>
    </div>
</div>