{% set dataEventIdForManageUsers = "manage-users-" + convertUserRole(userRole) %}

{% set usersTitleCardTextHtml %}
{% if userRole === UserRole.OWNER %}
    <h3 class="govuk-heading-s">{{lang.users_for_the_authorised_agent}}</h3>
{% else %}
    <h2 class="govuk-heading-m">{{lang.users_for_the_authorised_agent}}</h2>
{% endif %}
{% endset %}

<div class="govuk-grid-column-one-third govuk-topic-block govuk-!-padding-bottom-7">
    {{usersTitleCardTextHtml | safe}}
    <p class="govuk-body">
        {{lang.you_can}}:
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{lang.view_users_who_have_been_added}}</li>
        <li>{{lang.add_users_if_they_need_to_use_services_for}}</li>
        <li>{{lang.remove_users}}</li>
    </ul>
    <a class="govuk-link govuk-link--no-visited-state" 
            href="{{managePeopleLink}}"
            data-event-id="{{dataEventIdForManageUsers}}"
            >
        {{lang.manage_users}}
    </a>
</div>