<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            {{lang.manage_people}}
        </h2>
    </div>
    <div class="govuk-summary-card__content">
        <p class="govuk-body">
            {{lang.view_and_manage_peope}}{{companyName}}.
        </p>
        <p class="govuk-body">
            {{lang.add_employees_if}}
        </p>
        <p class="govuk-body">
            {{lang.you_can_remove_people}}
        </p>
        <p class="govuk-body">
            <a href="{{managePeopleLink}}" class="govuk-link">
                {{lang.manage_people}}
            </a>
        </p>
    </div>
</div>