{% set dataEventIdForUpdateAgentDetails = "update-authorised-agents-details-" + convertUserRole(userRole) %}

<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            <a class="govuk-link govuk-link--no-underline govuk-link--no-visited-state" data-event-id="{{dataEventIdForUpdateAgentDetails}}" href="{{updateAuthorisedAgentsDetailsLink}}">
                {{lang.update_authorised_agent}}
            </a>
        </h2>
    </div>
    <div class="govuk-summary-card__content">
        <p class="govuk-body">
            {{lang.tell_us_about_any_changes}}
        </p>
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">{{lang.warning}}</span>
                {{lang.tell_us_about_aml}}
            </strong>
        </div>
    </div>
</div>