<div class="govuk-grid-column-one-third govuk-topic-block">
    <h3 class="govuk-heading-s">
        {{lang.update_authorised_agent}}
        <strong class="govuk-tag govuk-tag--blue govuk-!-margin-top-2">
            {{lang.coming_soon}}
        </strong>
    </h3>
    <p class="govuk-body">
        {{lang.tell_us_about_changes}}
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{lang.business_details}}</li>
        <li>{{lang.anti_money_laundering_registration_details_for}}</li>
    </ul>
    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">{{lang.warning}}</span>
            {{lang.tell_us_about_any_changes_within}}
        </strong>
    </div>
</div>