<div class="govuk-grid-column-one-third govuk-topic-block">
    <h2 class="govuk-heading-s">

        {% if agentStatus === AcspStatus.SUSPENDED %}
            {{lang.tell_companies_house_id}}
            <strong class="govuk-tag govuk-tag--red govuk-!-margin-top-2">
                {{lang.not_available}}
            </strong>
        {% else %}
            {{lang.tell_companies_house_id}}
            <strong class="govuk-tag govuk-tag--blue govuk-!-margin-top-2">
                {{lang.coming_soon}}
            </strong>
        {% endif %}
    </h2>

    <p class="govuk-body">
        {{lang.in_future_youll_be_able_to_tell_us}}
    </p>
</div>