<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            {{lang.view_users}}
        </h2>
    </div>
    <div class="govuk-summary-card__content">
        <p class="govuk-body">
            {{lang.view_users_who_have_been_added_to}}
            {{companyName}}.
        </p>
        <p class="govuk-body">
            <a class="govuk-link govuk-link--no-visited-state" 
            href="{{viewUsersLink}}"
            data-event-id="view-users-standard"
            >
                {{lang.view_users}}
            </a>
        </p>
    </div>
</div>