{% set dataEventIdForViewUsers = "view-users-" + convertUserRole(userRole) %}

<div class="govuk-grid-column-one-third govuk-topic-block govuk-!-padding-bottom-7">
    <h2 class="govuk-heading-m">{{lang.users_for_the_authorised_agent}}</h2>
    <p class="govuk-body">
        {{lang.you_can_view_all_users_who}}
    </p>
    <a class="govuk-link govuk-link--no-visited-state" href="{{viewUsersLink}}" data-event-id="{{dataEventIdForViewUsers}}">
        {{lang.view_users}}
    </a>
</div>