$govuk-global-styles: true;

@import "node_modules/govuk-frontend/dist/govuk/base";
@import "./govuk-language-select";

* {
    font-family: "GDS Transport", Arial, sans-serif;
}

#footer ul li {
    margin-bottom: 10px;
}

@media (max-width: 640px) {
    #search-input-group > * {
        display: flex;
        justify-content: center;
    }

    #acsp-manage-users-cancel-search-link {
        margin-top: 20px;
        margin-left: 0;
    }

    #search {
        max-width: unset;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .mobile-view-max-width-unset {
        max-width: unset !important;
    }
}

.does-not-verify-link-spacing {
    padding: 12px 0 8px 0;
}

#accessibility-statement-index-list > li {
  margin-bottom: 5px;
}


/* styling from https://github.com/companieshouse/find-update-company-info-prototype/blob/main/app/assets/sass/custom.scss */

.grid-row:after,
fieldset:after,
.form-section:after,
.form-group:after,
.form-block:after,
.notice:after,
#content:after,
.panel:after,
#global-nav .inner:after,
.navigation-list:after,
.pager ul:after,
ol.breadcrumb:after,
ul.pager:after,
.section-tabs:after {
    content: "";
    display: block;
    clear: both;
}

#chs-customer-insights-top-banner {
    background-color: #f3f2f1;
    padding-top: 1em;
    padding-bottom: 1em;
}

#chs-customer-insights-top-banner a.secondary-customer-insights {
    float: right;
}

#chs-customer-insights {
    background-color: #005ea5;
    padding: 0.5em 0.5em 0;
    margin: 0 auto 0;
    height: auto;
    width: auto;
    max-width: 960px;
    border-bottom: 10px solid #005ea5;
    position: relative;
}

#chs-customer-insights a:link,
#chs-customer-insights a:visited {
    color: #fff;
}

#chs-customer-insights a:focus {
    color: #0b0c0c;
}

#chs-customer-insights a:hover {
    color: #bfc1c3;
}

#chs-customer-insights a.secondary-customer-insights {
    float: right;
}

@media (max-width: 641px) {
    #chs-customer-insights {
        padding-bottom: 3em;
        width: auto;
        max-width: none;
    }

    #chs-customer-insights a {
        padding-bottom: 1em;
    }

    #chs-customer-insights a.secondary-customer-insights {
        float: left;
        margin-top: 1em;
        margin-right: 7em;
    }
}

@media (max-width: 400px) {
    #chs-customer-insights a.secondary-customer-insights {
        float: left;
        margin-top: 1em;
        margin-right: auto;
    }
}

@media (max-width: 959px) and (min-width: 641px) {
    #chs-customer-insights {
        padding-bottom: 0.5em;
        max-width: none;
        width: auto !important;
    }
}

.blue-footer-border {
    border-bottom: 10px solid #005ea5;
}

/* styling from https://github.com/companieshouse/find-update-company-info-prototype/blob/main/app/assets/sass/application.scss */

.govuk-topic-block {
    border-top: 1px solid #b1b4b6;
    padding: 18px 0 20px 0;
    margin: 0 15px;
    width: 30.3%;
}

@media screen and (max-width: 1019px) {
    .govuk-topic-block {
        width: auto;
    }
}

@media (min-width: 641px) {
    #global-nav nav li {
        line-height: 1.6;
    }
}

/* GOV.UK Footer overrides */
/* Remove the OGL licencing section */
.app-footer {
    .govuk-footer__licence-logo,
    .govuk-footer__licence-description {
        display: none;
    }
    .govuk-footer__meta-custom {
        margin-bottom: 0;
    }
}