$govuk-global-styles: true;

@function custom-url-handler($filename) {
    @return url("/fonts/#{$filename}");
  }

$govuk-font-url-function: 'custom-url-handler';

@import "node_modules/govuk-frontend/govuk/all";

* {
    font-family: "GDS Transport", Arial, sans-serif;
}