{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "layouts/default.njk" %}

{% set message = null %}
{% for key, value in errors %}
    {% if key == "acceptMembership" %}
        {% set message = {
            text: lang[value.text],
            visuallyHiddenText: lang.error
        } %}
        {% set title = lang.title_error + page_header + lang.title_end %}
    {% endif %}
{% endfor %}

{% block main_content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post">
                {% include "partials/csrf_token.njk" %}

                <h1 class="govuk-heading-l">{{lang.page_header}}</h1>
                <p class="govuk-body">{{lang.p1}}</p>
                <ul class="govuk-body govuk-list govuk-list--bullet">
                    <li>{{lang.bullet_1}}</li>
                    <li>{{lang.bullet_2}}</li>
                </ul>
                <p class="govuk-body">{{lang.p2}}</p>

                {% set detailsHtml %}
                <p class="govuk-body">{{lang.details_p1}}</p>
                <ul class="govuk-body govuk-list govuk-list--bullet">
                    <li>{{lang.details_bullet_1}}</li>
                    <li>{{lang.details_bullet_2}}</li>
                    <li>{{lang.details_bullet_3}}</li>
                </ul>
                {% endset %}

                {{ govukDetails({
                    summaryText: lang.details_summary,
                    html: detailsHtml
                })
             }}

                
                {{ govukRadios({
                        name: "acceptMembership",
                        fieldset: {
                            legend: {
                                text: lang.radio_btns_header + companyName + "?",
                                classes: "govuk-fieldset__legend--m"
                            },
                            classes: "govuk-fieldset"
                        },
                        items: [
                            {
                                value: "yes",
                                text: lang.yes,
                                attributes: {
                                    "data-event-id": "yes-option"
                                }
                            },

                            {
                                value: "no",
                                text: lang.no,
                                attributes: {
                                    "data-event-id": "no-option"
                                }
                            }
                        ],
                        errorMessage: message
                    })
                }}

                {% set button_attributes = {
                    role: "button",
                    id: "continue-button",
                    "data-event-id": "continue-button"
                } %}
                
                    {{ govukButton({text: lang.continue, type: "submit", attributes: button_attributes }) }}

            </form>

        </div>
    </div>

{% endblock %}