{% extends "layouts/default.njk" %}

{% set title = lang.you_cannot_use_this_service + lang.title_end %}

{% block main_content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{lang.page_header}}</h1>

            <p class="govuk-body">{{lang.youll_need_to_ask_to_be_added}}</p>
            <p class="govuk-body">{{lang.if_theres_not_an_existing_account}}
                <a href="https://find-and-update.company-information.service.gov.uk/register-as-companies-house-authorised-agent" class="govuk-link govuk-link--no-visited-state">
                    {{lang.apply_to_register_as_an_authorised_agent}}
                </a>
            </p>
        </div>
    </div>

{% endblock %}