{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% extends "layouts/default.njk" %}

{% set message = null %}
{% set roleMessage = null %}
{% set emailMessage = null %}
{% set title = lang.page_header + lang.title_end %}

{% for key, value in errors %}
    {% if key == "email" %}
        {% set emailMessage = {
            text: lang[value.text],
            visuallyHiddenText: lang.error
        } %}
        {% set title = lang.title_error + lang.page_header + lang.title_end %}
    {% endif %}
    {% if key == "userRole" %}
        {% set roleMessage = {
            text: lang[value.text],
            visuallyHiddenText: lang.error
        } %}
        {% set title = lang.title_error + lang.page_header + lang.title_end %}
    {% endif %}
{% endfor %}

{% block back_link %}
    {% include "partials/back_link.njk" %}
{% endblock %}

{% block main_content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">{{companyName}}</span>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
                {{ lang.page_header }}
            </h1>

            <form method="post" novalidate="novalidate">
                {% include "partials/csrf_token.njk" %}

                {{ govukInput({
                        label: {
                            text: lang.email_input_label,
                            classes: "govuk-label--m"
                        },
                        hint: {
                            text: lang.email_hint_text
                        },
                        id: "email",
                        name: "email",
                        type: "email",
                        spellcheck: "false",
                        errorMessage: emailMessage,
                        value: email
                    })
                }}

                {% set option_1_html %}
                <span class="govuk-body govuk-!-font-weight-bold">
                    {{lang.option_1}}</span>
                {% endset %}

                {% set option_2_html %}
                <span class="govuk-body govuk-!-font-weight-bold">
                    {{lang.option_2}}</span>
                {% endset %}

                {% set option_3_html %}
                <span class="govuk-body govuk-!-font-weight-bold">
                    {{lang.option_3}}</span>
                {% endset %}

                {% set option_1_hint %}
                <p class="govuk-body govuk-!-static-padding-top-2">
                    {{lang.option_1_hint_p}}
                </p>

                <ul class="govuk-body govuk-list govuk-list--bullet govuk-!-static-padding-left-7">
                    <li>{{ lang.option_1_hint_bullet_1 }}</li>
                    <li>{{ lang.option_1_hint_bullet_2 }}</li>
                    <li>{{ lang.option_1_hint_bullet_3 }}</li>
                </ul>
                {% endset %}

                {% set option_2_hint %}
                <p class="govuk-body govuk-!-static-padding-top-2">
                    {{lang.option_2_hint_p}}
                </p>
                <ul class="govuk-body govuk-list govuk-list--bullet govuk-!-static-padding-left-7">
                    <li>{{ lang.option_2_hint_bullet_1 }}</li>
                    <li>{{ lang.option_2_hint_bullet_2 }}</li>
                </ul>
                {% endset %}

                {% set option_3_hint %}
                <p class="govuk-body">
                    {{lang.option_3_hint}}
                </p>
                {% endset %}

                {% set radios_items = [] %}
                {% if loggedInUserRole === UserRole.OWNER %}
                    {% set radios_items = (radios_items.push({
                        value: UserRole.OWNER,
                        html: option_1_html,
                        checked: userRole === UserRole.OWNER,
                        hint: {
                            html: option_1_hint
                        },
                        attributes: {
                            "data-event-id": "account-owner-option"
                        }
                    }), radios_items) %}
                {% endif %}
                {% set radios_items = (radios_items.push({
                    value: UserRole.ADMIN,
                    html: option_2_html,
                    checked: userRole === UserRole.ADMIN,
                    hint: {
                        html: option_2_hint
                    },
                    attributes: {
                        "data-event-id": "admin-option"
                    }
                }), radios_items) %}
                {% set radios_items = (radios_items.push({
                    value: UserRole.STANDARD,
                    html: option_3_html,
                    checked: userRole === UserRole.STANDARD,
                    hint: {
                        html: option_3_hint
                    },
                     attributes: {
                        "data-event-id": "standard-user-option"
                    }
                }), radios_items) %}

                {{ govukRadios({
                        name: "userRole",
                        fieldset: {
                            legend: {
                                text: lang.radio_btns_header,
                                classes: "govuk-fieldset__legend--m govuk-!-static-padding-top-3"
                            }
                        },
                        items: radios_items,
                        errorMessage: roleMessage
                    })
                }}

                <div class="govuk-inset-text">
                    <p class="govuk-body">
                        {{lang.inset_all_users_who}}
                    </p>
                    <ul class="govuk-body govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>{{lang.inset_bullet_1_view_users}}</li>
                        <li>{{lang.inset_bullet_2_verify_people}}</li>
                        <li>{{lang.inset_bullet_3_file_as_an_authorised_agent}}</li>
                    </ul>
                </div>

                {% set button_attributes = {
                        role: "button",
                        id: "continue-button",
                        "data-event-id": "continue-button"             
                    }
                %}

                {{ govukButton({text: lang.continue,
                        type: "submit",
                        attributes: button_attributes,
                        classes: 'govuk-!-margin-top-3'
                    })
                }}

            </form>
        </div>
    </div>

{% endblock %}