{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}

{% block back_link %}
    {% include "partials/back_link.njk" %}
{% endblock %}

{% block main_content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">{{ lang.page_header }}</h1>

                <p class="govuk-body">{{ lang.cannot_add_user_paragraph1 }}</p>

                <p class="govuk-body">{{ lang.cannot_add_user_paragraph2 }}</p>

                <p class="govuk-body">
                    <a href="{{ manageUsersLinkHref }}" data-event-id="manage-users-you-cannot-add-this-user">{{ manageUsersLinkText }}</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}