{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}

{% block back_link %}
    {{ govukBackLink({
        text: backLinkText,
        href: backLinkHref
    }) }}
{% endblock %}

{% block main_content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">{{ heading }}</h1>

                <p class="govuk-body">{{ paragraph1 }}</p>

                <p class="govuk-body">{{ paragraph2 }}</p>

                <p class="govuk-body">{{ paragraph3 }}</p>

                <p class="govuk-body">
                    <a href="{{ manageUsersLinkHref }}">{{ manageUsersLinkText }}</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}