{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/default.njk" %}

{% set userDetails = newUserDetails.userName if newUserDetails.userName else newUserDetails.email %}
{% set roleText = lang.as_a + userRole if userRole == lang.standard_user else lang.as_an + userRole%}

{% set bannerHtml %}
        <h3 class="govuk-notification-banner__heading">
            {{lang.user_added}}
        </h3>
        <p class="govuk-body">{{lang.you_have_added}}<strong>{{userDetails}}</strong>{{roleText}}{{lang.for}}{{companyName}}.</p>
{% endset %}

{% set title = lang.what_happens_now + lang.title_end %}

{% block main_content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukNotificationBanner({
        html: bannerHtml,
        type: "success",
        titleText: lang.success
    }) }}

    <span class="govuk-caption-l">{{companyName}}</span>
    <h1 class="govuk-heading-l">{{lang.what_happens_now}}</h1>

    <p class="govuk-body">{{lang.theyll_be_able_to_use_services}}</p>

    {{ govukButton({
        text: lang.go_to_manage_users,
        href: buttonHref,
        role: "button",
        classes: 'govuk-!-margin-top-3',
        attributes: {
            "data-event-id": "go-to-manage-users"
        }
    }) }}

  </div>
</div>
{% endblock %}