{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% extends "layouts/default.njk" %}

{% set title = lang.authorised_agent_services + lang.title_end %}

{% block main_content %}
    <span class="govuk-caption-l">{{companyName}}</span>
    <h1 class="govuk-heading-l">{{lang.page_header}}</h1>

    {% if agentStatus === AcspStatus.ACTIVE %}
        {% set statusColour = 'govuk-tag--green' %}
    {% else %}
        {% set statusColour = 'govuk-tag--red' %}
    {% endif %}

    <dl class="govuk-body">
        <div class="govuk-!-margin-bottom-1">
            <dt class="govuk-!-font-weight-bold govuk-!-display-inline">
                {{lang.authorised_agent_status}}
            </dt>
            <dd class="govuk-!-display-inline">
                <span class="govuk-tag {{ statusColour }}">{{translateEnum(agentStatus)}}</span>
            </dd>
        </div>

        <div class="govuk-!-margin-bottom-1">
            <dt class="govuk-!-font-weight-bold govuk-!-display-inline">
                {{lang.authorised_agent_number}}
            </dt>
            <dd class="govuk-!-display-inline govuk-!-font-weight-regular">
                {{agentNumber}}
            </dd>
        </div>

        <div class="govuk-!-margin-bottom-1">
            <dt class="govuk-!-font-weight-bold govuk-!-display-inline">
                {{lang.your_role}}
            </dt>
            <dd class="govuk-!-display-inline govuk-!-font-weight-regular">
                {{userRoleTag}}
            </dd>
        </div>
    </dl>

    <p class="govuk-body">{{lang.authorised_agents_are_also_known_as}}</p>

    {% if userRole === UserRole.OWNER %}
        <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-2">
            <a class="govuk-link" data-event-id="add-or-remove-acsps-details" href="{{addOrRemoveAcspsDetailsUrl}}">{{lang.add_or_remove_the_acsps_details}}</a>
        </p>
        <p class="govuk-body">{{lang.to_include_the_acsps_details}}</p>

        <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-2">
            <a class="govuk-link" data-event-id="guidance-on-being-an-acsp" href="{{guidanceOnBeingAcspUrl}}">{{lang.guidance_on_being_an_acsp}}</a>
        </p>
        <p class="govuk-body">{{lang.read_the_guidance}}</p>
    {% endif %}

    {% if userRole === UserRole.OWNER %}
        <h2 class="govuk-heading-m">{{lang.authorised_agent_users_and_account_details}}</h2>
    {% endif %}

    {% if agentStatus === AcspStatus.SUSPENDED %}
        {{ govukWarningText({
            text: companyName + lang.suspended_warning_text,
            iconFallbackText: lang.warning
            }) }}
    {% endif %}

    <div class="govuk-grid-row">
        {% if userRole === UserRole.OWNER or userRole === UserRole.ADMIN %}
            {% include "partials/dashboard/manage_users.njk" %}
        {% else %}
            {% include "partials/dashboard/view_users.njk" %}
        {% endif %}

        {% if userRole === UserRole.OWNER %}
            {% if showUpdateAuthorisedAgentDetails %}
                {% include "partials/dashboard/update_authorised_agent_details.njk" %}
            {% endif %}
            {% if showCloseAuthorisedAgent %}
                {% include "partials/dashboard/close_authorised_agent.njk" %}
            {% endif %}
        {% endif %}
    </div>

    <h2 class="govuk-heading-m govuk-!-static-padding-top-5 govuk-!-static-padding-bottom-2">{{lang.authorised_agent_services}}</h2>

    <div class="govuk-grid-row">

        {% include "partials/dashboard/verify_someones_identity.njk" %}

        {% if showFileAsAuthorisedAgent %}
            {% include "partials/dashboard/file_as_an_authorised_agent.njk" %}
        {% endif %}

        {% include "partials/dashboard/correct_someones_identity_verification_details.njk" %}
    </div>
{% endblock %}