{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/default.njk" %}

{% block back_link %}
    {% include "partials/back_link.njk" %}
{% endblock %}

{% if removingThemselves %}
    {% set buttonText = lang.remove_and_sign_out %}
    {% set title = lang.are_you_sure + lang.title_end %}
    {% set dataEventIdForRemoveUser = "remove-yourself" %}
    {% set dataEventIdForCancelRemoveUser = "cancel-remove-yourself" %}
{% else %}
    {% set buttonText = lang.remove_user %}
    {% set dataEventIdForRemoveUser = "remove-user" %}
    {% set dataEventIdForCancelRemoveUser = "cancel-remove-user" %}
{% endif %}

{% block main_content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" action="{{ tryRemovingUserUrl }}">
                {% include "partials/csrf_token.njk" %}

                <span class="govuk-caption-xl">{{companyName}}</span>

                {% if removingThemselves %}
                    <h1 class="govuk-heading-xl">{{lang.are_you_sure}}</h1>
                    <p class="govuk-body">{{lang.if_remove_yourself}}</p>
                    <p class="govuk-body">{{lang.youll_be_immediately_signed_out}}</p>
                {% else %}
                    <h1 class="govuk-heading-xl">{{lang.page_header}}</h1>
                    <p class="govuk-body">{{lang.if_you_remove}}{{displayNameInFirstParagraph | safe}}{{lang.they_will_not_be_able_to_use}}{{companyName}}.</p>
                {% endif %}

                <div class="govuk-button-group">
                    {{ govukButton({
                            text: buttonText,
                            classes: "govuk-button--warning",
                            type: "submit",
                            attributes: {
                                "data-event-id": dataEventIdForRemoveUser
                            }
                        })
                    }}
                    <a class="govuk-link" href="{{backLinkUrl}}" data-event-id="{{dataEventIdForCancelRemoveUser}}" id="cancel-link">{{lang.cancel}}</a>
                </div>
            </form>

        </div>
    </div>

{% endblock %}