{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/default.njk" %}

{% set userDetails = userToRemove.displayUserName if userToRemove.displayUserName else 
    userToRemove.userEmail %}

{% set title = lang.remove + userDetails + lang.title_end %}

{% block back_link %}
    {% include "partials/back_link.njk" %}
{% endblock %}

{% if removingThemselves %}
    {% set buttonText = lang.remove %}
    {% set title = lang.are_you_sure + lang.title_end %}
{% else %}
    {% set buttonText = lang.remove_user %}
{% endif %}

{% block main_content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post">
                <span class="govuk-caption-xl">{{companyName}}</span>

                {% if removingThemselves %}
                    <h1 class="govuk-heading-xl">{{lang.are_you_sure}}</h1>
                    <p class="govuk-body">{{lang.if_remove_yourself}}{{companyName}}.</p>
                {% else %}
                    <h1 class="govuk-heading-xl">{{lang.remove}}{{userDetails}}</h1>
                    <p class="govuk-body">{{lang.if_you_remove}}{{userDetails}}{{lang.they_will_not_be_able_to_use}}{{companyName}}.</p>
                {% endif %}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: buttonText,
                        classes: "govuk-button--warning"
                    })
                }}
                    <a class="govuk-link" href="{{cancelLinkHref}}" id="cancel-link">{{lang.cancel}}</a>
                </div>
            </form>

        </div>
    </div>

{% endblock %}