{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{
    govukFooter({
        attributes: {
            id: "footer"
        },
        meta: {
            items: [
                {
                    href: "https://resources.companieshouse.gov.uk/serviceInformation.shtml",
                    text: lang.policies,
                    attributes: {
                        id: "footer-policies"
                    }
                },
                {
                    href: "/help/cookies",
                    text: lang.cookies,
                    attributes: {
                        id: "footer-cookies"
                    }
                },
                {
                    href: "/help/contact-us",
                    text: lang.contact_us,
                    attributes: {
                        id: "footer-contact-us"
                    }
                },
                {
                    href: "/authorised-agent/accessibility-statement",
                    text: lang.accessibility_statement,
                    attributes: {
                        id: "footer-accessibility-statement"
                    }
                },
                {
                    href: "https://developer.company-information.service.gov.uk/",
                    text: lang.developers,
                    attributes: {
                        id: "footer-developers"
                    }
                }
            ],
            html: lang.built_by + ' <a href="' + lang.companies_house_url + '" class="govuk-footer__link">' + lang.companies_house + '</a>',
            visuallyHiddenTitle: lang.support_links
        },
        contentLicence: {
            html: lang.all_content_available + ' <a class="govuk-footer__link" href="' + lang.open_government_licence_url + '" rel="license">' + lang.open_government_licence + '</a>, ' + lang.except_where_otherwise_stated
        },
        copyright: {
            text: lang.crown_copyright
        }
    })
}}