{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{
    govukFooter({
        attributes: {
            id: "footer"
        },
        meta: {
            items: [
                {
                    href: "https://resources.companieshouse.gov.uk/serviceInformation.shtml",
                    text: lang.policies,
                    attributes: {
                        id: "footer-policies"
                    }
                },
                {
                    href: "/help/cookies",
                    text: lang.cookies,
                    attributes: {
                        id: "footer-cookies"
                    }
                },
                {
                    href: "/help/contact-us",
                    text: lang.contact_us,
                    attributes: {
                        id: "footer-contact-us"
                    }
                },
                {
                    href: "http://chs.local/authorised-agent/accessibility-statement",
                    text: lang.accessibility_statement,
                    attributes: {
                        id: "footer-accessibility-statement"
                    }
                },
                {
                    href: "https://developer.company-information.service.gov.uk/",
                    text: lang.developers,
                    attributes: {
                        id: "footer-developers"
                    }
                }
            ],
            html: lang.built_by + ' <a href="' + lang.companies_house_url + '" class="govuk-footer__link">' + lang.companies_house + '</a>',
            visuallyHiddenTitle: lang.support_links
        },
        contentLicence: {
            html: lang.all_content_available + ' <a class="govuk-footer__link" href="' + lang.open_government_licence_url + '" rel="license">' + lang.open_government_licence + '</a>, ' + lang.except_where_otherwise_stated
        },
        copyright: {
            text: lang.crown_copyright
        }
    })
}}
<script nonce={{ nonce | dump | safe }}>
    window.SERVICE_NAME = "{{SERVICE_NAME}}";
    window.PIWIK_URL = "{{PIWIK_URL}}";
    window.PIWIK_SITE_ID = "{{PIWIK_SITE_ID}}";
</script>
<div id="templateName" data-id='{{templateName}}' hidden></div>
<script src="{{ cdnHost }}/javascripts/app/piwik-enable.js"></script>

<script type="module" src="{{ cdnUrlJs }}/govuk-frontend.min.js"></script>
<script src="{{ cdnHost }}/javascripts/app/cookie-consent/cookie-consent-1.0.0.js"></script>
<script src="{{ cdnHost }}/javascripts/app/cookie-consent/matomo-only-cookie-consent.js"></script>
<noscript>
    <p>
        <img src="{{PIWIK_URL}}/piwik.php?idsite={{PIWIK_SITE_ID}}" style="border:0;" alt=""/>
    </p>
</noscript>
<script src="{{ cdnHost }}/javascripts/vendor/jquery-3.5.1.min.js"></script>
<script src="{{ cdnHost }}/javascripts/lib/navbar.js"></script>
<script nonce={{ nonce | dump | safe }} type="module">
    import {initAll} from "{{ cdnUrlJs }}/govuk-frontend.min.js"
    initAll()
</script>

<script nonce={{ nonce | dump | safe }}>
    $(document).ready(function () {
        let isMobileDevice = window
            .matchMedia("only screen and (max-width: 760px)")
            .matches;
        if (isMobileDevice) {
            if ("{{errors}}" !== "") {
                history.pushState(null, document.title, location.pathname + location.search);
                window.scrollTo(0, 0);
            } else if (window.location.search) {
                let element = document.getElementById("{{manageUsersTabId}}".substring(4))
                if (element) {
                    element.scrollIntoView();
                }
            }
        } else {
            if ("{{errors}}" !== "") {
                document
                    .getElementById("tab_account-owners")
                    .click();
                history.pushState(null, document.title, location.pathname + location.search);
                window.scrollTo(0, 0);
            } else {
                let tab = document.getElementById("{{manageUsersTabId}}");
                if (tab) {
                    tab.click();
                }
            }
        }
    });
</script>