{% from "govuk/components/header/macro.njk" import govukHeader %}

{{ govukHeader({
        homepageUrl: "https://www.gov.uk/",
        serviceName: lang.find_and_update_company_information,
        serviceUrl: "/"
    })
}}