{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukHeader({
        homepageUrl: "https://gov.uk"
    })
}}

{{ govukServiceNavigation({
        serviceName: lang.find_and_update_company_information,
        serviceUrl: "/"
    })
}}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div id="chs-customer-insights-top-banner">
            <div class="govuk-width-container">
                <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/csat-companieshouseservice/" target="_self">
                    {{lang.tell_us_what_you_think_of_companies_house}}
                </a>
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container small-text does-not-verify-link-spacing">
    <a class="govuk-link govuk-link--no-visited-state govuk-!-padding-top-2" href="https://resources.companieshouse.gov.uk/serviceInformation.shtml" target="_blank">
        {{lang.companies_house_does_not_verify}}
        <span class="govuk-visually-hidden">({{lang.link_opens_in_new_tab}})</span>
    </a>
</div>