{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

<div role="navigation" aria-label="{{lang.back_to_previous_page_link}}">
    {{ govukBackLink({
            text: lang.back_link,
            href: backLinkUrl,
            attributes: {
                id: "back-link-to-previous-page"
            }
        })
    }}
</div>