{% extends "ch-node-utils/templates/layouts/template.njk" %}
{% block pageTitle %}
    {{ title if title else lang.page_header + lang.title_end }}
{% endblock %}
{% block head %}
    {{ super() }}
    <link href="{{ cdnUrlCss }}/app.css" rel="stylesheet" media="all"/>
    <link href="{{ cdnHost }}/stylesheets/ch.gov.uk.css" rel="stylesheet"/>
{% endblock %}
{% block header %}
    {% include "partials/__header.njk" %}
    {% include "partials/nav/top.njk" %}
    <div class="govuk-width-container ">
        {% block back_link %}{% endblock %}
    </div>
{% endblock %}
{% block bodyStart %}
    {% include "partials/cookie_consent_banner.njk" %}
{% endblock %}
{% block content %}
    {% include "partials/error_summary.njk" %}
    {% block main_content %}{% endblock %}
{% endblock %}
{% block footer %}
    {% include "partials/customer_insights.njk" %}
    {% include "partials/__footer.njk" %}
{% endblock %}
{% block bodyEnd %}
    {{ super() }}
    {% include "partials/__meta_footer.njk" %}
{% endblock %}